@model LoginVM

@{
    ViewBag.Title = "Login";
}

<h1>Login</h1>

<form method="post">

    <div class="form-group">
        <label>Usuário</label>
        <input type="text" asp-for="NomeLogin" class="form-control" autofocus />
        <small>
            <span asp-validation-for="NomeLogin"></span>
        </small>
    </div>

    <div class="form-group">
        <label>Senha</label>
        <input type="password" asp-for="Senha" class="form-control" />
        <small>
            <span asp-validation-for="Senha"></span>
        </small>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="Lembrar">
        <label class="form-check-label" asp-for="Lembrar">Lembrar</label>
    </div>

    <button class="btn btn-dark">Entrar</button>
    <a asp-action="Index" asp-controller="Produtos" class="btn btn-warning">Cancelar</a>
</form>


@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/methods_pt.js"></script>
}